.tittle {
  margin: 15px 10px;
  font-size: 110%;
}

.detail {
  background-color: #02a4ff;
  margin: 10px 10px;
  padding: 10px 10px;
  display: inline-flex;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  font-size: 110%;
  font-weight: 500;
}

.pending {
  background-color: rgba(255, 99, 71, 0.2);
  margin: 10px 10px;
  padding: 10px 10px;
  display: inline-flex;
  text-align: center;
  color: #ff6347;
  border-radius: 10px;
  font-size: 110%;
  font-weight: 500;
}

.paid {
  background-color: #ccffce;
  margin: 10px 10px;
  padding: 10px 25px;
  display: inline-flex;
  text-align: center;
  color: #009a06;
  border-radius: 10px;
  font-size: 110%;
  font-weight: 500;
}

.unpaid {
  background-color: #ff9f9f4a;
  margin: 10px 10px;
  padding: 10px 15px;
  display: inline-flex;
  text-align: center;
  color: #ef0000;
  border-radius: 10px;
  font-size: 110%;
  font-weight: 500;
}
